.body-home {

    display: flex;

    flex-direction: column;
    justify-content: space-between;

    height: 865px;

    background-color: #C2D4AC;

    .content-home {

        .secao1-home {

            background-image: url("../public/assets/imgs/Folhas.png");
            background-size: 2000px 1700px;
            background-position: -220px -500px;
            background-repeat: no-repeat;

            height: 100%;
            width: 100%;

        }

    }

}