body {

  background-color: #C2D4AC;

  .content-home {



    height: 700px;

    .secao1-home {

      padding: 0px 0px 150px 0px;

      img {

        z-index: 0;

        margin-top: -25px;

        height: 105%;

      }

      h1 {

        z-index: 1;

        font-family: "adlam";
        font-size: 75px;

        color: #457A39;

        margin-top: -515px;

        width: 400px;

        text-align: center;

        margin-left: 160px;

        line-height: 100px;

      }

      h3 {

        z-index: 1;

        font-family: "adlam";
        font-size: 35px;

        color: #457A39;

        margin-top: 50px;

        width: 400px;

        text-align: center;

        margin-left: 175px;

        line-height: 50px;

      }

    }

  }
}